* {
    background-color: rgb(94, 94, 94);
}

.wall {
    border: 1px solid black;
}

.shelf {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.space {
    border: 1px dashed black;
    display: flex;
    flex-direction: column-reverse;
    height: 75vh; 
    padding: 10px;
    align-items: center;
    transition: transform .2s ease-in-out;
    overflow: hidden;
}

.blue {
    background-image: linear-gradient(to right, blue, white, blue),
    radial-gradient(white, 50%, blue, rgb(0, 0, 255));
    background-size: 75% 95%,
    75% 10%;
    background-position: center center,
    center 0%;
}

.red {
    background-image: linear-gradient(to right, red, white, red),
    radial-gradient(white, 50%, red, red);
    background-size: 75% 95%,
    75% 10%;
    background-position: center center,
    center 0%;
}

.green {
    background-image: linear-gradient(to right, green, white, green),
    radial-gradient(white, 50%, green, green);
    background-size: 75% 95%,
    75% 10%;
    background-position: center center,
    center 0%;
}

.saber {
    width: 1.5em;
    height: 20em;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom:-15px;
    border-top-left-radius: 50% 7%;
    border-top-right-radius: 50% 7%;
    z-index: 0;
}

.dark {
    background-image: linear-gradient(to right, white, black, white),
    radial-gradient(black, 50%, white, white);
    background-size: 75% 95%,
    75% 10%;
    background-position: center center,
    center 0%;
}

.hilt {
    z-index:1;
    width: 2em;
    height: 10em;
    left: 50%;
    bottom: 2.3em;
    /* border-radius: 10%; */
    background-repeat: no-repeat;
}

.anakin {
    border-top-right-radius: 100% 10%;

    background-image: 
    repeating-linear-gradient(to bottom, rgb(227, 168, 28), rgb(163, 128, 0) 2px),
    radial-gradient(rgb(155, 127, 0) 50%, #a4a4a443),
    linear-gradient(to bottom, rgb(146, 146, 146), rgb(119, 119, 119)),
    linear-gradient(to bottom, rgb(0, 0, 0), rgb(106, 106, 106), black),
    linear-gradient(to right, rgb(0, 0, 0), rgb(3, 3, 2)),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black);
    background-size: 
    20% 20%,
    25% 7%,
    20% 7%,
    15% 7%,
    25% 22%,
    22% 35%,
    22% 35%,
    22% 35%,
    22% 35%,
    80% 100%;
    background-position: 
    50% center,
    75% 15%,
    0 10%,
    0 20%,
    50% center,
    0 94.5%,
    30% 95%,
    70% 95%,
    100% 94.5%,
    center center;    
}

.luke {
    background-image: 
    repeating-linear-gradient(to bottom, rgb(0, 0, 0), rgb(92, 47, 0) 2px),
    linear-gradient(to bottom, black, rgb(36, 36, 36), black),
    linear-gradient(to right, grey, rgb(46, 46, 46)),
    linear-gradient(to right, grey, rgb(46, 46, 46)),
    linear-gradient(to right, grey, rgb(46, 46, 46)),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(118, 51, 0), rgb(189, 82, 0), 60%, rgb(95, 41, 0)),
    linear-gradient(to right, rgb(118, 51, 0), rgb(189, 82, 0), 60%, rgb(92, 40, 0)),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63), 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(0, 0, 0), grey, 60%, rgb(0, 0, 0)),
    linear-gradient(to right, rgb(44, 44, 44), rgb(0, 0, 0)),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black);
    background-size: 
    30% 15%,
    33% 16%,
    15% 5%,
    15% 5%,
    15% 5%,
    60% 5%,
    100% 1%, 
    80% 5%,
    60% 7%,
    30% 2%,
    20% 4%,
    60% 5%,
    80% 1%,
    20% 5%,
    80% 1%,
    80% 1%,
    80% 1%,
    80% 1%,
    80% 1%,
    80% 1%,
    80% 1%,
    80% 1%,
    80% 1%,
    55% 30%,
    80% 30%,
    60% 10%;
    background-position: 
    20% 75%,
    25% 75%,
    10% 98%,
    50% 98%,
    90% 98%,
    center 0%,
    center 5%,
    center 6%,
    center 11%,
    center 17%,
    center 19%,
    center 23%,
    center 27%,
    center 29%,
    center 35%,
    center 38%,
    center 41%,
    center 44%,
    center 47%,
    center 50%,
    center 53%,
    center 56%,
    center 59%,
    center 46%,
    center 88%,
    center 100%;    
}

.din {
    border-top-right-radius: 50% 50%;
    border-top-left-radius: 30%10%;  

    background-image: 
    linear-gradient(to right, black, rgb(37, 37, 37), black),
    linear-gradient(to right, black, rgb(37, 37, 37), black),
    repeating-linear-gradient(to bottom, black, grey 8px),
    repeating-linear-gradient(to right, grey, black 12px);
    background-size: 
    70% 10%,
    70% 10%,
    80% 30%,
    80% 50%;
    background-position:
    center 100%, 
    center 0, 
    50% 85%,
    center 20%;
}


/* ANIMATIONS */

/* Space */
/* .space:hover {
    transform: rotate(5deg);
} */


@keyframes ignite {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.saber {
    animation: ignite 1000ms;
}