* {
    background-color: rgb(94, 94, 94);
}

.wall {
    border: 1px solid black;
}

.shelf {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.space {
    border: 1px dashed black;
    display: flex;
    height: 75vh; 
    align-items: flex-end;
    padding: 10px;
}

.anakin {
    width: 2em;
    height: 10em;
    left: 50%;
    bottom: 2.3em;
    /* border-radius: 10%; */
    border-top-right-radius: 100% 10%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0), rgb(255, 179, 0), rgb(163, 128, 0) ),
    linear-gradient(to bottom, rgb(146, 146, 146), rgb(186, 186, 186)),
    linear-gradient(to bottom, rgb(79, 79, 79), rgb(106, 106, 106)),
    linear-gradient(to right, rgb(0, 0, 0), rgb(3, 3, 2)),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black);
    background-size: 
    20% 20%,
    20% 10%,
    20% 10%,
    25% 22%,
    22% 35%,
    22% 35%,
    22% 35%,
    22% 35%,
    80% 90%;
    background-position: 
    50% center,
    0 10%,
    0 25%,
    50% center,
    0 94.5%,
    30% 95%,
    70% 95%,
    100% 94.5%,
    center center;    
}
