* {
    background-color: rgb(94, 94, 94);
}

.wall {
    border: 1px solid black;
}

.shelf {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.space {
    border: 1px dashed black;
    display: flex;
    flex-direction: column-reverse;
    height: 75vh; 
    padding: 10px;
    align-items: center;
}

.blueSaber {
    width: 1.5em;
    height: 20em;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, blue, white, blue),
    radial-gradient(white, 50%, blue, rgb(0, 0, 255));
    background-size: 75% 95%,
    75% 10%;
    background-position: center center,
    center 0%;
    padding-bottom: 15px;
    margin-bottom:-15px;
    border-top-left-radius: 50% 7%;
    border-top-right-radius: 50% 7%;
}

.anakin {
    width: 2em;
    height: 10em;
    left: 50%;
    bottom: 2.3em;
    /* border-radius: 10%; */
    border-top-right-radius: 100% 10%;
    background-repeat: no-repeat;
    background-image: 
    repeating-linear-gradient(to bottom, rgb(227, 168, 28), rgb(163, 128, 0) 2px),
    radial-gradient(rgb(155, 127, 0) 50%, #a4a4a443),
    linear-gradient(to bottom, rgb(146, 146, 146), rgb(119, 119, 119)),
    linear-gradient(to bottom, rgb(0, 0, 0), rgb(106, 106, 106), black),
    linear-gradient(to right, rgb(0, 0, 0), rgb(3, 3, 2)),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(58, 58, 58), black),
    linear-gradient(to right, rgb(113, 113, 113), rgb(165, 165, 165), rgb(123, 123, 123), black);
    background-size: 
    20% 20%,
    25% 7%,
    20% 7%,
    15% 7%,
    25% 22%,
    22% 35%,
    22% 35%,
    22% 35%,
    22% 35%,
    80% 100%;
    background-position: 
    50% center,
    75% 15%,
    0 10%,
    0 20%,
    50% center,
    0 94.5%,
    30% 95%,
    70% 95%,
    100% 94.5%,
    center center;    
}
